div{
	padding-top: 20px;
}

.input{
	width: 100% !important;
	height: 40px;
	font-size: 20px;

}

.home-pg-btn{
	text-align: center;
}

.home-pg-btn{
	width: 100% !important;
}

.link{
	color: white;
}